/*PRE FIXING*/
html {
	padding-left: 92px;
}
* {
	padding: 0;
	margin: 0;
}
.navbar {
	display: none;
	position: fixed;
	left: 0;
	background-color: #ec3524;
	text-align: center;
	height: 100%;
	border-radius: 0;
	z-index: 100;
}
.navbar ul {

}
.navbar li {
	list-style-type: none;
	margin: 20px auto;
	padding: 10px 5px;
}
.navbar li:hover {
	background-color: #c82d1e;
}
.navbar a {
	color: white;
	text-decoration: none;
}
.navbar img {
	width: 80px;
	border-radius: 50%;
	border-bottom: 2px solid black
}
.navbar img:hover {
	-webkit-transform: rotate(-20deg);
}
.navbar i {
	font-size: 50px;
	display: block;
    margin-bottom: 6px;
}

.contacts {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	z-index: 100;
}
.contacts ul {}
.contacts li {
	display: inline-block;
	list-style-type: none;
	margin: 5px;
}
.contacts a {
	color: #ec3524;
	font-size: 20px;
	padding: 10px 5px;
}
.contacts a:hover {
	border-top: 2px solid #ec3524;
}

.home {
	text-align: center;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    padding: 100px 0;
}
.text {
	margin-top: 20px;
}
.text p {
	font-family: 'Shadows Into Light Two', cursive;
	color: #454545;
	font-size: 20px;
}
.text h2 {
	font-family: 'Grand Hotel', cursive;
	color: #ec3524;
	font-size: 70px;
	margin: 10px auto;
    font-weight: bold;
    letter-spacing: 4.4px;
}
.text h3 {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	color: #454545;
	font-size: 35px;
	margin: 10px auto 25px auto;
}
.text h5 {
	font-family: 'Dosis', sans-serif;
	letter-spacing: 2px;
	color: #454545;
	font-size: 20px;
}
.text a {
    background-color: transparent;
    border: 1px solid #ec3524;
    border-radius: 5px;
    color: #454545;
}
.text a:hover {
	background-color: #fffaf0;
	color: #ec3524;
}
.food {
	margin-top: 50px;
}
.food img {
	max-width: 70%;
	display: inline-block;
	border-radius: 50%;
}
.food img:hover {
	-webkit-transform: rotate(10deg);
}

/*Why me*/
.whyMe {
	text-align: center;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    padding: 20px 0;
}
.skills{}
.skills h2 {
	font-family: 'Dosis', sans-serif;
    color: #ec3524;
    font-weight: 600;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
}
.skills ul {}
.skills label {
	display: block;
/*	text-align: left;*/
}
.skills li {
	list-style-type: none;
    display: inline-block;
    background-color: #ec3524;
    color: #fff;
    margin: 5px 2px;
    letter-spacing: 3px;
}
.certificates h2 {
	font-family: 'Dosis', sans-serif;
    color: #ec3524;
    font-weight: 600;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
}
.certificate {
	/*text-align: left;*/
}
.certificate p {
	list-style-type: none;
    display: inline-block;
    background-color: #ec3524;
    color: #fff;
    margin: 5px 2px;
    letter-spacing: 3px;
}
.certificate span {
	background-color: #fff;

}

/*responsive-design*/
.responsive-design {
    padding: 40px 0;
    background-color: #fff;
    margin-top: 100px;
}
.responsive-design h3 {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: #454545;
    font-size: 35px;
    color: #ec3524;
}
.responsive-design .content {
	padding: 50px 20px;
}
.responsive-design p {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: #454545;
    font-size: 22px;
}
.responsive-design img {
	display: inline;
	max-width: 300px
}
/*Single application*/
.single-page {
	padding: 40px 0;
    background-color: #d0d0d0;
}
.single-page h3 {
	font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: #454545;
    font-size: 35px;
    color: #ec3524;
}
.single-page img {
	display: inline;
	max-width: 300px
}
.single-page .content {
	padding: 50px 20px;
}
.single-page p {
	font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: #454545;
    font-size: 22px;
}

/*Plan*/
.plan {
	text-align: center;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: repeat;
    padding: 20px 0;
}
.planWrapper {}
.expectControlers {
	margin-bottom: 50px;
}
.expectControlers a {
    background-color: #ec3524;
    border: 1px solid #000000;
    color: #ffffff;
    margin: 10px;
}
.expectControlers a:hover {
	font-weight: 600; 
	color: #ffffff;
}

.plan h2 {
	margin: 40px auto;
}
.plan h2 span {
	padding: 13px 20px;
    border-radius: 50%;
    background-color: #ec3524;
    color: #fff;
}
.plan h4 {
	font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    color: #454545;
    font-size: 35px;
    margin: 10px auto 25px auto;
    color: #797979;
}
.plan hr {
    height: 2px;
    width: 20%;
    background-color: #ec3524;
    margin: 20px auto;
}
.plan .selected {
	background-color: #fff;
	color: #ec3524;
	border: 1px solid #ec3524;
	font-weight: 600;
}