/*PRE FIXING*/
html {
	padding-left: 92px;
}
* {
	padding: 0;
	margin: 0;
}
.navbar {
	display: none;
	position: fixed;
	left: 0;
	background-color: #ec3524;
	text-align: center;
	height: 100%;
	border-radius: 0;
	z-index: 100;
}
.navbar ul {

}
.navbar li {
	list-style-type: none;
	margin: 20px auto;
	padding: 10px 5px;
}
.navbar li:hover {
	background-color: #c82d1e;
}
.navbar a {
	color: white;
	text-decoration: none;
}
.navbar img {
	width: 80px;
	border-radius: 50%;
	border-bottom: 2px solid black
}
.navbar img:hover {
	-webkit-transform: rotate(-20deg);
}
.navbar i {
	font-size: 50px;
	display: block;
    margin-bottom: 6px;
}

.contacts {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	z-index: 100;
}
.contacts ul {}
.contacts li {
	display: inline-block;
	list-style-type: none;
	margin: 5px;
}
.contacts a {
	color: #ec3524;
	font-size: 20px;
	padding: 10px 5px;
}
.contacts a:hover {
	border-top: 2px solid #ec3524;
}
