<section class="home">
	<div class="container-fluid">
		<div class="col-xs-12">
			<div class="text">
				<p>Hey, I'm</p>
				<h2>Ahmed</h2>
				<h3>Better, Faster Web Developer</h3>
				<h5>I'm a very Passionate FRONT END WEB DEVELOPER, Curious, Goal Oriented and Ambitious.</h5>
				<a class="btn" href="http://ahmedsoliman.net" target="_blank">Portfolio</a>
				<a class="btn" href="http://ahmedsoliman.net/resume.pdf" target="_blank">Resume</a>
			</div>
			<div class="food">
				<img src="img/1.png" alt="food" class="img-responsive">
			</div>
		</div>
	</div>
</section>