<section class="plan">
	<div class="container-fluid">
		<div class="col-xs-12">
			<div class="text">
				<h2>My Plan</h2>
				<h3>Here is my plan for the first 3 months</h3>
			</div>

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators expectControlers">
			    <li data-target="#myCarousel" data-slide-to="0" class="active btn">FIRST MONTH</li>
			    <li data-target="#myCarousel" data-slide-to="1" class="btn">SECOND MONTH</li>
			    <li data-target="#myCarousel" data-slide-to="2" class="btn">THIRD MONTH</li>
			  </ol>

			  <!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
				    <div class="item active">
				      	<h2><span>1</span></h2>
						<h4>During the first 30 days on the job I will be attending training, meeting team members, learning the organization’s systems and its products and services.</h4>
						<hr>
						<h4>I will also be investing an average of 4 hours/day out of the working hours mastering Eatsa's technology.</h4>
				    </div>

				    <div class="item">
				      	<h2><span>2</span></h2>
						<h4>Studying best practices in web development as for Eatsa, setting goals for the next 30 days, meeting with supervisor to gather feedback, building relationships with the colleagues, identifying potential mentors, reviewing the efficiency of company processes and procedures, visiting other departments, and continuing to attend training.</h4>
						<hr>
						<h4>I will Keep on investing 4hr/a day other than the work hours on mastering future needed technology.</h4>
				    </div>

				    <div class="item">
				      	<h2><span>3</span></h2>
						<h4>Will be measuring the value I'm adding and figuring out the way to double that value continually.</h4>
						<hr>
						<h4>I will Keep on investing 4hr/a day other than the work hours on mastering future needed technology.</h4>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>

