<section class="story">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="text">
						<h2>My Story</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<div class="text">
						<p>Once upon the time far far away in the historical city of Cairo there was a young boy named Ahmed, Ahmed had a dream of studying computer programming and he also dreamed of becoming a very famous chef, because he was fascinated by the TV. Chefs and their white gloves and clean apron.</p>
						<p>Ahmed’s wish came true when he got his first computer at the age of 10 years old, but after 3 days happened the disaster…</p>
						<p>The new computer got broken the operation system wouldn’t load up, and while nobody at  Ahmed’s circle knew how to fix the operation system, he knew that there is that guy lives at the end of the street he had a computer for quite a while. So Ahmed asked the far neighbor if he can teach him how to solve the O.S. and that’s how Ahmed made his way into programming by using the command prompt (Terminal).</p>
						<h5>Obviously the O.S. was Windows 95 and Millennium.</h5>
						<p>On the other hand, Ahmed worked in the food industry since he finished his school and while he was getting his IT. Degree, He kept on working in the food field for over 10 years but Ahmed’s heart was broken because he found out the ugly truth.</p>
						<p>The chefs of the TV. Are fake... Infect chefs gloves are not white they’re full of sauce and stuff, and their aprons are hell dirty too.</p>
						<p>So, he combined all his power and set one goal in front of his eyes to become hell good Web Developer.</p>
						<h4>And I think Ahmed deserves our trust because he can do amazing things</h4>
					</div>
				</div>
			</div>		
		</div>
	</div>
</section>